<ion-card>

    <!-- User's Profile -->
    <ion-item>
        <ion-avatar item-left>
            <img [src]="theTweet.user.profile_image_url">
        </ion-avatar>
        <h2>{{theTweet.user.name}}</h2>
        <p>@{{theTweet.user.screen_name}}</p>
    </ion-item>

    <!-- The Tweet Content -->
    <ion-card-content [innerHTML]="theTweet.full_text">
    </ion-card-content>

    <!-- Various buttons to interact with the tweet -->
    <ion-row>
        <ion-col>
            <button ion-button class="icons" icon-left clear small (click)="openLinkURL(theTweet)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>Retweet</div>
            </button>
        </ion-col>
        <ion-col>
            <button ion-button class="icons" icon-left clear small (click)="openLinkURL(theTweet)">
              <ion-icon  name="md-star"></ion-icon>
              <div>Favorite</div>
            </button>
        </ion-col>
    </ion-row>

</ion-card>