<ion-card>

    <!-- User's Profile -->
    <ion-item>
        <ion-avatar item-left>
            <img [src]="theTweet.user.profile_image_url">
        </ion-avatar>
        <h2>{{theTweet.user.name}}</h2>
        <p>@{{theTweet.user.screen_name}}</p>
    </ion-item>

    <!-- The Tweet Content -->
    <ion-card-content [innerHTML]="theTweet.full_text">
    </ion-card-content>

    <!-- Various buttons to interact with the tweet -->
    <ion-row>
        <ion-col width-10>
            <button ion-button class="icons" icon-left clear small (click)="openLinkURL(theTweet)">
              <i class="fa fa-lg fa-retweet" aria-hidden="true"> </i>
            </button>
        </ion-col>
        <ion-col width-10 margin-left>
            <button ion-button class="icons" icon-left clear small (click)="openLinkURL(theTweet)">
              <i class="fa fa-lg fa-star" aria-hidden="true"> </i>
            </button>
        </ion-col>
        <ion-col width-20 offset-20 margin-left>
            <button ion-button class="icons" icon-left clear small (click)="openLinkURL(theTweet)">
              Reply <i class="fa fa-lg fa-share" aria-hidden="true" margin-left></i>
            </button>
        </ion-col>
    </ion-row>

</ion-card>