.heading {
    height: 5vh;
    font-family: 'Montserrat', sans-serif;
}

.blurb {
    height: 40vh;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20vh;
    text-align: center;
}

.questions {
    height: 30vh;
}

.buttons {
    height: 15vh;
}