<ion-content padding>
    <ion-grid>

        <ion-row class="heading" padding text-center>
            <ion-col>
                <h2>What did I just download?</h2>
            </ion-col>
        </ion-row>

        <ion-row class="blurb">
            <ion-col>
                <h5>Sign in with your Twitter account to get your Trump fix of the day!</h5>
                <p>Trump's Twitter Vomit will allow you to check the most recent tweets posted on Trump's
                    official Twitter account.</p>
                <p>Just sign in, set your notification preferences and view the tweets.</p>
                <p>It's that simple to check in on
                    what ridiculous tweets he's posting every day</p>
            </ion-col>
        </ion-row>

        <!-- FAB - closes modal -->
        <ion-fab left bottom>
            <button ion-fab color="danger" (click)="dismiss()"><ion-icon name="md-arrow-round-back"></ion-icon></button>
        </ion-fab>

    </ion-grid>
</ion-content>