ion-header {
    border-bottom: 3px solid #F8F8F8;
}

#homeContent {
    background: url("https://trumpstwittervomit.com/images/putin_trump.gif") no-repeat center fixed;
}

#buttonsColumn {
    position: relative;
    top: 25vh;
    font-family: 'Montserrat', sans-serif;
}

ion-footer {
    background-color: #F8F8F8;
    border-top: 2px solid #2F3738;
    #theOutro {
        font-family: 'Montserrat', sans-serif;
    }
}