<ion-row padding-top>
    <ion-col width-100>
        <ion-item>
            <ion-label text-left>What Time?</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="note._time"></ion-datetime>
        </ion-item>
    </ion-col>
</ion-row>
<ion-row padding-bottom>
    <ion-col width-100>
        <ion-item>
            <ion-checkbox [(ngModel)]="note._sound" (change)="note.setSound(note._sound)"></ion-checkbox>
            <ion-label>Sound</ion-label>
        </ion-item>
    </ion-col>
</ion-row>